        * {
            box-sizing: border-box;
        }
        
        /* style berikut ini akan diterapkan pada komponen HTML
        yang mempunyai class yg mengandung keyword "col-" */
        [class*="col-"] { float: left; padding: 15px; }

        /* For Smartphone */
        [class*="col-"] { width: 100%; }
        
        /* for tablet */
        @media only screen and (min-width: 600px){
            .col-md-1 { width: 8.33% } /* 1/12 x 100% */
            .col-md-2 { width: 16.66% } /* 2/12 x 100% */
            .col-md-3 { width: 25% } /* 3/12 x 100% */
            .col-md-4 { width: 33.33% } /* 4/12 x 100% */
            .col-md-5 { width: 41.66% } /* 5/12 x 100% */
            .col-md-6 { width: 50% } /* 6/12 x 100% */
            .col-md-7 { width: 58.33% } /* 7/12 x 100% */
            .col-md-8 { width: 66.66% } /* 8/12 x 100% */
            .col-md-9 { width: 75% } /* 9/12 x 100% */
            .col-md-10 { width: 83.33% } /* 10/12 x 100% */
            .col-md-11 { width: 91.66% } /* 11/12 x 100% */
            .col-md-12 { width: 100% } /* 12/12 x 100% */
        }
        
        /* for PC */
        @media only screen and (min-width: 768px){
            .col-lg-1 { width: 8.33% } /* 1/12 x 100% */
            .col-lg-2 { width: 16.66% } /* 2/12 x 100% */
            .col-lg-3 { width: 25% } /* 3/12 x 100% */
            .col-lg-4 { width: 33.33% } /* 4/12 x 100% */
            .col-lg-5 { width: 41.66% } /* 5/12 x 100% */
            .col-lg-6 { width: 50% } /* 6/12 x 100% */
            .col-lg-7 { width: 58.33% } /* 7/12 x 100% */
            .col-lg-8 { width: 66.66% } /* 8/12 x 100% */
            .col-lg-9 { width: 75% } /* 9/12 x 100% */
            .col-lg-10 { width: 83.33% } /* 10/12 x 100% */
            .col-lg-11 { width: 91.66% } /* 11/12 x 100% */
            .col-lg-12 { width: 100% } /* 12/12 x 100% */
        }


#informatic School{
    background-color: rgb(240, 54, 91);
    border-radius: 50px;
    height: 650px;
    position: relative;
    top: -60px;
    left: -60px;
    padding-top: 14%;
    padding-left: 14%;
}

#informatic School h3{
    color: white;
    font-size: 40px;
    font-weight: bolder;
    font-family: Tahoma;

}

#informatic School{
    color: white;
    font-size: 20px;
    font-family: arial;
    font-weight: normal;
}

#informatic School #Join{
    border-radius: 20px;
    background-color: white;
    color: rgb(240, 54, 91);
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

#informatic School #Join:hover{
    border-radius: 20px;
    background-color:rgb(240, 54, 91);
    color: white;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2 px solid white;
}